<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.man.mapper.GreatManMapper">
    
    <resultMap type="GreatMan" id="GreatManResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="image"    column="image"    />
        <result property="description"    column="description"    />
    </resultMap>

    <sql id="selectGreatManVo">
        select id, name, image, description from great_man
    </sql>

    <select id="selectGreatManList" parameterType="GreatMan" resultMap="GreatManResult">
        <include refid="selectGreatManVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="image != null  and image != ''"> and image like concat('%', #{image}, '%')</if>
            <if test="description != null  and description != ''"> and description like concat('%', #{description}, '%')</if>
        </where>
    </select>
    
    <select id="selectGreatManById" parameterType="String" resultMap="GreatManResult">
        <include refid="selectGreatManVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertGreatMan" parameterType="GreatMan">
        insert into great_man
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="image != null">image,</if>
            <if test="description != null">description,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="image != null">#{image},</if>
            <if test="description != null">#{description},</if>
         </trim>
    </insert>

    <update id="updateGreatMan" parameterType="GreatMan">
        update great_man
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="image != null">image = #{image},</if>
            <if test="description != null">description = #{description},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGreatManById" parameterType="String">
        delete from great_man where id = #{id}
    </delete>

    <delete id="deleteGreatManByIds" parameterType="String">
        delete from great_man where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>