<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增考卷管理')" />
    <th:block th:include="include :: datetimepicker-css" />

</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-examsheet-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">题目：</label>
                <div class="col-sm-8">
                    <input name="title" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">面向对象：</label>
                <div class="col-sm-8">
                    <input name="type" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">考试时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="testTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">内容：</label>
                <div class="col-sm-8">
                    <input name="content" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">使用/未使用：</label>
                <div class="col-sm-8">
                    <input name="hasDone" class="form-control" type="text">
                </div>
            </div>

        </form>
        <button onclick="getSheet()" style="background-color: #FF9999;border-color: red;margin-left: 10%;float: left;margin-top: 1%">随机生成试卷</button>
<!--        <textarea style="margin-left: 4.5%;width: 63%;height: 300px"></textarea>-->
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">

        function getSheet(){

            //1.声明异步请求对象：
            var xmlHttp = null;
            if (window.ActiveXObject) {
                // IE6, IE5 浏览器执行代码
                xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
            } else if (window.XMLHttpRequest) {
                // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                xmlHttp = new XMLHttpRequest();
            }
            //2.如果实例化成功，就调用open（）方法：
            if (xmlHttp != null) {
                xmlHttp.open("get", "/file/1.txt", true);
                xmlHttp.send();
                xmlHttp.onreadystatechange = doResult; //设置回调函数
            }
            function doResult() {
                if (xmlHttp.readyState == 4) { //4表示执行完成
                    if (xmlHttp.status == 200) { //200表示执行成功
                        alert(xmlHttp.responseText)
                        // document.getElementById("resText").innerHTML = xmlHttp.responseText;
                    }
                }
            }

        }

        var prefix = ctx + "system/examsheet"
        $("#form-examsheet-add").validate({
            focusCleanup: true
        });


        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-examsheet-add').serialize());
            }
        }

        $("input[name='testTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });





    </script>



</body>
</html>